.h {
  color: $c-cyan-very-dark;

  &--xlg {
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  &--lg {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
  }

  &--big {
    font-size: clamp(1.23rem, 3vw, 2.5rem);
  }

  &--md {
    font-size: clamp(1.24rem, 3vw, 1.5rem);
  }

  &--white {
    color: #fff;
  }

  &--tt-uc {
    text-transform: uppercase;
  }
}

.text {
  color: #000;

  &--lg {
    line-height: 1.56;
    font-size: clamp(0.87rem, 2vw, 1.25rem);
  }

  &--big {
    font-size: clamp(0.87rem, 2vw, 1rem);
    line-height: 1.56;
  }

  &--md {
    font-size: 0.89rem;
    line-height: 1.56;
  }

  &--white {
    color: #fff;
  }
}
